@model WebApplicationSeguros.Models.InsurancePolicy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InsurancePolicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCoverType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCoverType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatePoliceValidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatePoliceValidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoveragePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoveragePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTypeRisk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTypeRisk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
